html,body{margin: 0;padding: 0}
#head-wrap,#foot-wrap,#main-wrap{width: 100%;height: auto;}
#head-wrap{background: #34352C;position: fixed;z-index: 9998}
#foot-wrap{background: #34352C;}
#main-wrap{padding-top: 60px}

#head-wrap.scroll{border-bottom: 1px solid #ebebeb;box-shadow: 0 0 5px #888;}

#head-container,#foot-container,#main-container{width: 1200px;margin: 0 auto;}
#head-container{height: 60px;}
#foot-container{height: 60px;}
#main-container{height: auto;padding: 10px 0;}

/*head*/
#head-container a.logo{width: auto;height: auto;display: block;float: left;}
#head-container a.logo img{width: auto;height: 60px;}
#head-container .userinfo{width: auto;height: 30px;float: right;margin: 15px 0;line-height: 30px;text-align: right;color: #ccc;}
#head-container .userinfo .al{}
#head-container .userinfo .bl{}

#head-container .userinfo .bl .bl-btn{cursor: pointer;}
#head-container .userinfo .bl .bl-btn:hover{color: #fff}

#head-container .userinfo .bl .bl-tips{display: inline-block;background: #ccc;color: #34352C;padding: 0 5px;margin: 0 10px 0 0;height: 20px;line-height: 20px;vertical-align: middle;}
#head-container .userinfo .bl .bl-tips::after{width: 10px;height: 10px;position: absolute;top: 26px;background: #ccc;content: '';transform: rotate(-45deg);}

/*foot*/
#foot-container .copyright{line-height: 60px;color: #ccc}

/*main*/
#main-container .curr{}
#main-container .curr .title{width: auto;height: 40px;background: #F44336;line-height: 40px;text-align: center;}

#main-container .item{width: auto;height: auto;padding: 0 10px;margin: 10px 0;background: #eee;border-radius: 4px}
#main-container .item:hover{background: #ddd;
    transition: background .3s;-moz-transition: background .3s;-webkit-transition: background .3s;-o-transition: background .3s;
}

.item .word{width: auto;height: auto;padding: 20px 0;line-height: 30px;}
.item .info{width: auto;height: auto;padding: 10px 0;line-height: 30px;
    border-top: dashed 1px #ccc;}

.item .word:hover{cursor: pointer;color: #666}

.item .avatar{width: 30px;height: 30px;border-radius: 50%;}
.item .option{width: auto;height: auto;float: right;}
.item .option span{width: auto;height: 24px;background: #ccc;color: #fff;display: inline-block;line-height: 24px;padding: 0 10px;border-radius: 12px;font-size: 12px;}

/*other*/
.popups{display: none;}

/*layui*/
.layui-nav{float: left;background: none}
.layui-form{padding: 15px 15px 0 0}